toolchain/bin
toolchain/src
toolchain/i686-elf
toolchain/include
toolchain/lib
toolchain/libexec
toolchain/share
.DS_store
*.o
*.bin
ref/*
os/isodir/*
*.png
.clang_complete
.ccls
.ccls-root
.ccls-cache/*
compile_commands.json
os/lisptest