.DS_store

toolchain/bin
toolchain/src
toolchain/i686-elf
toolchain/include
toolchain/lib
toolchain/libexec
toolchain/share

grub/grub
grub/objconv
grub/build

*.o
*.bin
*.iso
ref/*
os/isodir/*
*.png

.clang_complete
.ccls
.ccls-root
.ccls-cache/*
compile_commands.json

os/lisptest
os/test_lisp

proposal/*.aux
proposal/*.bbl
proposal/*.bcf
proposal/*.blg
proposal/*.log
proposal/*.pdf
proposal/*.xml
proposal/auto
