.DS_store

toolchain/gcc
toolchain/grub
toolchain/gdb

os/.gdb_history

*.o
*.bin
*.iso
*.elf
ref/*
os/isodir/*
*.png

.clang_complete
.ccls
.ccls-root
.ccls-cache/*
compile_commands.json

os/lisptest
os/lisp_test

*.aux
*.bbl
*.bcf
*.blg
*.log
*.pdf
*.xml
auto

report
viva
os-ref